@model dienthoaididong.Models.Entities.khachhang

@{
    ViewBag.Title = "Dangky";
}

<link href="~/Content/NguoidungCssLayOut/dangnhap.css" rel="stylesheet" />
<div style=" margin-left:400px;border:1px solid black;width:410px;  margin-top:50px ;background-color:black">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div style="margin-left:105px;margin-bottom:25px;margin-top:20px">
                <h2 style="color: rgba(249, 255, 0, 0.91)">ĐĂNG KÝ TÀI KHOẢN</h2>
            </div>

            
            <div class="editor-label">
                @Html.LabelFor(model => model.khachhang_name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.khachhang_name)
                @Html.ValidationMessageFor(model => model.khachhang_name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.khachhang_ns)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.khachhang_ns)
                @Html.ValidationMessageFor(model => model.khachhang_ns)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.khachhang_diachi)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.khachhang_diachi)
                @Html.ValidationMessageFor(model => model.khachhang_diachi)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.khachhang_sdt)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.khachhang_sdt)
                @Html.ValidationMessageFor(model => model.khachhang_sdt)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.khachhang_taikhoan)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.khachhang_taikhoan)
                @Html.ValidationMessageFor(model => model.khachhang_taikhoan)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.khachhang_matkhau)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.khachhang_matkhau)
                @Html.ValidationMessageFor(model => model.khachhang_matkhau)
            </div>


            <p>
                <button style="margin-left:299px;margin-top:10px;margin-bottom:5px; background-color:#b6ff00;font-size:20px" id="btdangky" type="submit" value="Create">Đăng ký</button>
            </p>
        </fieldset>
    }
</div>
@*<html>
<title>Register</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/Content/Login/img/favicon.ico" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/bootstrap.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/font-awesome.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/material-design-iconic-font.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/animate.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/hamburgers.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/animsition.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/select2.min.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/daterangepicker.css" rel="stylesheet" />
<!--===============================================================================================-->
<link href="~/Content/Login/css/util.css" rel="stylesheet" />
<link href="~/Content/Login/css/main.css" rel="stylesheet" />
<link href="~/Content/Login/css/loader.min.css" rel="stylesheet" />
<!--===============================================================================================-->

<body>
    <div class="limiter">
        <div class="container-login100" style="       background-image: url('../../Content/Login/img/bg-01.jpg');">

            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login1001-form validate-form" action="#" method="get" id="register">
                    <a href="/Home/Index" style="font-size:20px;font-weight:bolder">Trang chủ</a>
                    <span class="login100-form-title p-b-49">
                        Register
                    </span>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Type your username">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Type your password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">RePassword</span>
                        <input class="input100" type="password" name="pass" placeholder="Type your password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                    </div>
                    <span>@ViewBag.ThongBao</span>
                    <div class="txt1 text-center p-t-54 p-b-20">
                        <span>
                            You remember the account
                            <a href="/Nguoidung/Dangnhap">Login</a>>
                        </span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/Login/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/popper.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/Login/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/moment.min.js"></script>
    <script src="~/Content/Login/js/daterangepicker.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/Login/js/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>
    <script src="~/Content/Login/js/Custome.js"></script>
    <script src="js/main.js" type="4b1a584cb928c0a0b496fe30-text/javascript"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="4b1a584cb928c0a0b496fe30-text/javascript"></script>
    <script type="4b1a584cb928c0a0b496fe30-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="~/Content/Login/js/loader.min.js"></script>
</body>

</body>
</html>*@